html {
  background-color: #fffef8;
   width: 100%; /* Assurez-vous que le contenu occupe toute la largeur */
  overflow-x: hidden; /* Désactive le défilement horizontal */
}


body, ul {
  padding: 0;
  margin: 0;
}

footer {
  padding-top:15rem;
}

.image-responsive {
    max-width: 100%;
    height: auto;
}

.Logo{
  align-items: center;  /* Aligne verticalement */
  padding: 0.5rem;
}

.Logo img {
  width: 100%; /* Largeur des images */
  height: auto; /* Hauteur des images */
  object-fit: contain; /* Ajustement de l'image à l'intérieur du cadre */
}

.first-row{
  display: grid;
  flex-wrap: flex;
  grid-template-columns: 15% 85%;
  flex-direction: column;
  width: 100%;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center;
  margin: 0 auto; /* Centrage horizontal de la galerie */
}

.titre{
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center;
  margin: 0 auto; /* Centrage horizontal de la galerie */
}

h7{
    text-align: center;
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 1rem;
}

section {
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: Calibri;
  opacity: 0; /* Cache le texte initialement */
  animation: slide-inY 1s ease forwards; /* Applique l'animation pour chaque élément */
}

/* Animation de glissement vers la droite */
@keyframes slide-inY {
  to {
    opacity: 1;
    transform: translateY(0); /* Texte revient à sa position initiale */
  }
}

h2 {
  text-align: center;
  font-family: Playfair Display Bold;
  font-size: 1.5rem;
}

h4 {
  text-align: center;
  font-family: Playfair Display;
  font-size: 2.5rem;
}

p{
  text-align: center;
  font-family: Playfair Display;
  font-size: 1.5rem;
}

.copyright{
  text-align: center;
  font-family: Aptos;
  font-size: 0.5rem;
}

/* Style de base pour la barre de menu */
.menu {
  margin-top: 10px;
  background-color: #faf9eb; /* Couleur de fond de la barre */
  height: 50px;
}

.menu ul {
  list-style: none; /* Supprime les puces de liste */
  display: flex; /* Affiche les éléments en ligne */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center;
}

.menu ul li {
  margin-right: 2.5%; /* Espacement entre les éléments du menu */
  padding: 1%;
}


.menu ul li a {
  text-decoration: none; /* Supprime les soulignements des liens */
  color: #450208; /* Couleur du texte des liens */
  font-family: arial black;
  font-weight: bold;
  font-size: 1rem;
  padding: width; /* Remplissage à l'intérieur des liens */
  display: inline-block; /* Permet de définir une largeur et une hauteur */
  position: relative;
  opacity: 0; /* Cache le texte initialement */
  transform: translateX(-20%); /* Déplace le texte vers la gauche en dehors de l'écran */
  animation: slide-in 1s ease forwards; /* Applique l'animation pour chaque élément */
}

/* Animation de glissement vers la droite */
@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0); /* Texte revient à sa position initiale */
  }
}

.menu ul li a:hover {
  color: #d6b655; /* couleur survol et lien actif */
}
.menu ul li a.active {
  color: #c63618; /* couleur survol et lien actif */
}

.bouton1, .bouton2 {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0.5rem 1.5rem; /* Remplissage à l'intérieur du bouton */
  font-size: 2rem; /* Taille de la police */
  background-color: #0b2f5b; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border-color: black;
  border-radius: 0.25rem; /* Arrondi les coins du bouton */
  cursor: pointer; /* Curseur indiquant que le bouton est cliquable */
  padding: 5rem;
  width:90%;
}

/* Style lorsque le curseur survole le bouton */
.bouton1:hover, .bouton2:hover {
  background-color: white; /* Nouvelle couleur de fond au survol */
  color: black;
}

/* Styles pour centrer le bouton dans son conteneur */
a {
  text-decoration: none; /* Retire le soulignement du lien */
  display: inline-block; /* Nécessaire pour centrer l'élément en utilisant text-align */
}




.bouton3 {
  margin-top: 50px;
  padding: 0.5rem 1.5rem; /* Remplissage à l'intérieur du bouton */
  font-size: 1.5rem; /* Taille de la police */
  background-color: #0b2f5b; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border-color: black;
  border-radius: 0.25rem; /* Arrondi les coins du bouton */
  cursor: pointer; /* Curseur indiquant que le bouton est cliquable */
  padding: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  width:80%;
}

.bouton3:hover {
  background-color: white; /* Nouvelle couleur de fond au survol */
  color: black;
}


.collectionneur{
  height: 25rem;
  width: 100%; /* Largeur du cadre */
  overflow: hidden; /* Pour cacher toute partie de l'image qui dépasse du cadre */
  position: relative; /* Utile si besoin de superposition */
  background-attachment: fixed; /* Image de fond reste fixe */
  background-size: cover; /* Couvre tout le cadre */
  background-position: center; /* Centre l'image dans le cadre */
  background-image: url('images/header.jpg'); /* Remplacez par le chemin de votre image */
}

/*.collectionneur img {
  filter: blur(5px);

}*/


.texte-superpose {
  position: absolute; /* Position absolue pour le texte */
  top: 50%; /* Positionnement vertical au milieu */
  left: 50%; /* Positionnement horizontal au milieu */
  transform: translate(-50%, -50%); /* Pour centrer le texte */
  color: #faf9eb; 
  text-align: center; /* Alignement du texte */
  font-size: 3rem;
  font-family: Playfair Display;
  font-weight: lighter;
}

.context {
    margin-top: 55px;
  display: flex; /* Utilisation de Flexbox */
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrage horizontal */
  text-align: center;
  height: width;
  width: 100%;
}

.context2{
  margin-top: 55px;
}

.context3{
  margin-top: 55px;
}

.vehicules {
  margin-top: 55px;
  width: 100%;
  height: 18rem;
  text-align: center;
}


/*.propos {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 500px;
  background-color: #8f2731;
  color: white;
}

.Colonne1, .Colonne1-1 {
  width: 50%; 
  height: 100%; 
  overflow: hidden; 
  position: relative; 
}




/*.carousel {
  overflow: hidden;
  width: 100%;
  height: 75%;
  padding: 10px;
  margin: 10px;
}

.image-responsive2 {
  width: 100%; 
  height: auto; 
 }*/


.evenements {
  display: flex; 
  width: 100%;
  height: 30rem;
  text-align: center;
  background-color: #0D2123;
  color: white;
}


.Colonne2, .Colonne2-2 {
  width: 33.3%; /* Largeur du cadre */
  height: 100%; /* Hauteur du cadre */
  justify-content: center; /* Centrage vertical */
  align-items: center; /* Centrage horizontal */
  text-align: center; /* Centrage du texte */
  padding: 0 1rem; /* Ajoute une marge intérieure de 20px à gauche et à droite */
  padding-top: 10%;
}

.image-responsive {
  width: 100%; /* Pour remplir complètement la largeur du cadre */
  height: 100%; /* Pour conserver les proportions de l'image */
  object-fit: cover; /* Pour adapter l'image et couper ce qui dépasse en hauteur */
}

.contact{
  text-align: center;
  font-family: Aptos;
}

.reseaux-sociaux {
  display: flex;
  align-items: center; /* Aligner verticalement les éléments */
  justify-content: center;
}

.suivre {
  margin: 0;
  padding: 0;
}

.reseaux-sociaux img {
  width: 3rem;
  height: 3rem;
}




/*PAGE Vehicules*/

/*.catvehicules {
  display: flex; 
  width: 100%;
  height: 500px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
 
}*/



.bouton4 {
  padding: 0.5rem 1rem; /* Remplissage à l'intérieur du bouton */
  font-size: 1rem; /* Taille de la police */
  background-color: #5b5447; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none; /* Supprime la bordure */
  border-radius: 0.5rem; /* Arrondi les coins du bouton */
  cursor: pointer; /* Curseur indiquant que le bouton est cliquable */
}

/* Style lorsque le curseur survole le bouton */
.bouton4:hover {
  background-color: black; /* Nouvelle couleur de fond au survol */
}

h5 {
  text-align: center;
  font-family: Playfair Display;
  font-size: 1rem;
  color:black;
}

h6{
  text-align: center;
  font-family: Playfair Display;
  font-weight: normal;
  font-size: 1rem;
  color: black;
}




.gallery {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr; /* Deux colonnes égales */
  grid-gap: 1.5%; /* Espacement entre les éléments */
  width: 95%;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center;
  margin: 0 auto; /* Centrage horizontal de la galerie */
}

.product {
  background-color: #c3c7c3;
  padding: 2%;
  height: 20rem;
  grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
   display: grid;
}

.product img {
  width: 100%; /* Largeur des images */
  height: 20rem; /* Hauteur des images */
  object-fit: contain; /* Ajustement de l'image à l'intérieur du cadre */
  justify-content: center;
}

.product-description {
  display: flex;
  flex-direction: column; /* Les éléments (texte, bouton) empilés verticalement */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  text-align: center; /* Centre le texte à l'intérieur */
  width: 100%; /* Prendre toute la largeur disponible */
  grid-template-rows: 10% 10% 10% 10% 20%; /* Deux colonnes égales */
  display: grid;
}

.row1, .row2, .row3, .row4, .row5 {
  padding: 0.5rem;
}

.bouton5 {
  padding: 1rem; /* Remplissage à l'intérieur du bouton */
  font-size: 1rem; /* Taille de la police */
  background-color: #0b2f5b; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border-color: black;
  border-radius: 0.25rem; /* Arrondi les coins du bouton */
  cursor: pointer; /* Curseur indiquant que le bouton est cliquable */
}

/* Style lorsque le curseur survole le bouton */
.bouton5:hover {
  background-color: white; /* Nouvelle couleur de fond au survol */
  color: black;
}




/*PAGE Clients*/



.gallery2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Deux colonnes égales */
  grid-gap: 1.5%; /* Espacement entre les éléments */
  width: 95%; /* Largeur de la galerie */
  margin: 0 auto; /* Centrage horizontal de la galerie */
  flex-wrap: wrap; /* Pour permettre le wrapping des colonnes */
}

.product2 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les enfants horizontalement */
  background-color: #c3c7c3;
  padding-bottom: 10px;
  padding-top: 20px;
  height: 90%;
}

.product2 img {
  width: 50%; /* Largeur des images */
  height: auto; /* Hauteur des images */
  object-fit: cover; /* Ajustement de l'image à l'intérieur du cadre */
}

.product-description2 {
  display: flex;
  flex-direction: column; /* Les éléments (texte, bouton) empilés verticalement */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  text-align: center; /* Centre le texte à l'intérieur */
  
}




/*PAGE Devis*/


.container {
          width: 60%;
          margin: 0 auto;
          background-color: white;
          padding: 20px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          margin-top: 50px;
          border-radius: 8px;

    }
        
.form-group {
    margin-bottom: 15px;
}

.checkbox-group {
    margin-bottom: 15px;
}

.checkbox-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, 
.form-group textarea {
    width: 100%; /* Ajustez cette valeur si vous souhaitez une taille différente */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Assure que le padding soit inclus dans la taille totale de l'élément */
}
.form-group textarea {
    resize: vertical;
}
.submit-btn {
  margin-top: 50px;
  padding: 5px;
  font-size: 1rem; /* Taille de la police */
  background-color: #0b2f5b; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border-color: black;
  border-radius: 0.25rem; /* Arrondi les coins du bouton */
  cursor: pointer; /* Curseur indiquant que le bouton est cliquable */
  width: 100%;
}
.submit-btn:hover {
      background-color: white; /* Nouvelle couleur de fond au survol */
  color: black;
}
