html {
  background-color: #fffef8;
   width: 100%; /* Assurez-vous que le contenu occupe toute la largeur */
  overflow-x: hidden; /* Désactive le défilement horizontal */
}


body, ul {
  padding: 0;
  margin: 0;
}


.Logo{
  display: flex;
  align-items: center;  /* Aligne verticalement */
  
  padding: 10px;

}
.Logo img{
    width: 150px;
    height: auto;
}


.titre{
    position: absolute;
    left: 42%;
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 40px;
}

section {
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: Calibri;
  opacity: 0; /* Cache le texte initialement */
  transform: translateY(-50%); /* Déplace le texte vers la gauche en dehors de l'écran */
  animation: slide-inY 1s ease forwards; /* Applique l'animation pour chaque élément */
}

/* Animation de glissement vers la droite */
@keyframes slide-inY {
  to {
    opacity: 1;
    transform: translateY(0); /* Texte revient à sa position initiale */
  }
}

h2 {
  text-align: center;
  font-family: Playfair Display Bold;
  font-size: 25px;
}

h4 {
  text-align: center;
  font-family: Playfair Display;
  font-size: 40px;
}

p{
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
}

.copyright{
  text-align: center;
  font-family: Aptos;
  font-size: 10px;
}

/* Style de base pour la barre de menu */
.menu {
  background-color: #faf9eb; /* Couleur de fond de la barre */
}

.menu ul {
  list-style: none; /* Supprime les puces de liste */
  display: flex; /* Affiche les éléments en ligne */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center;
}

.menu ul li {
  margin-right: 2.5%; /* Espacement entre les éléments du menu */
  padding: 1%;
}


.menu ul li a {
  text-decoration: none; /* Supprime les soulignements des liens */
  color: #450208; /* Couleur du texte des liens */
  font-family: arial black;
  font-weight: bold;
  font-size: 20px;
  padding: width; /* Remplissage à l'intérieur des liens */
  display: inline-block; /* Permet de définir une largeur et une hauteur */
  position: relative;
  opacity: 0; /* Cache le texte initialement */
  transform: translateX(-20%); /* Déplace le texte vers la gauche en dehors de l'écran */
  animation: slide-in 1s ease forwards; /* Applique l'animation pour chaque élément */
}

/* Animation de glissement vers la droite */
@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0); /* Texte revient à sa position initiale */
  }
}

.menu ul li a:hover {
  color: #d6b655; /* couleur survol et lien actif */
}
.menu ul li a.active {
  color: #c63618; /* couleur survol et lien actif */
}

.bouton1, .bouton2 {
  padding: 10px 20px; /* Remplissage à l'intérieur du bouton */
  font-size: 16px; /* Taille de la police */
  background-color: #5b5447; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none; /* Supprime la bordure */
  border-radius: 5px; /* Arrondi les coins du bouton */
  cursor: pointer; /* Curseur indiquant que le bouton est cliquable */
}

/* Style lorsque le curseur survole le bouton */
.bouton1:hover, .bouton2:hover {
  background-color: black; /* Nouvelle couleur de fond au survol */
}

/* Styles pour centrer le bouton dans son conteneur */
a {
  text-decoration: none; /* Retire le soulignement du lien */
  display: inline-block; /* Nécessaire pour centrer l'élément en utilisant text-align */
}



/* Bouton stylé */
.bouton3 {
  position: relative; /* Nécessaire pour positionner ::before */
  background-image: url('images/header.jpg'); /* Image de fond */
  background-size: cover; /* L'image couvre tout le bouton */
  background-position: center; /* Centre l'image */
  border: none; /* Enlève la bordure */
  width: 500px; /* Ajustez selon vos besoins */
  height: 100px; /* Ajustez selon vos besoins */
  color: white; /* Couleur du texte */
  font-size: 30px; /* Taille du texte */
  font-family: ARIAL;
  font-weight: normal;
  cursor: pointer; /* Indique que c'est cliquable */
  overflow: hidden; /* Empêche les débordements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouton3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit; /* Copie l'image de fond du bouton */
  background-size: inherit;
  background-position: inherit;
  filter: blur(5px); /* Applique le flou */
  z-index: 1; /* Le place derrière le texte */
}

.bouton3 span {
  position: relative;
  z-index: 2; /* Assure que le texte reste au-dessus du flou */
}

.bouton3:hover {
  color: #0D2123; /* Change la couleur du texte au survol */
  background-image: blue; /* Copie l'image de fond du bouton */
  background-size: inherit;
  background-position: inherit;
}

.collectionneur{
  height: 400px;
  width: 100%; /* Largeur du cadre */
  overflow: hidden; /* Pour cacher toute partie de l'image qui dépasse du cadre */
  position: relative; /* Utile si besoin de superposition */
  background-attachment: fixed; /* Image de fond reste fixe */
  background-size: cover; /* Couvre tout le cadre */
  background-position: center; /* Centre l'image dans le cadre */
  background-image: url('images/header.jpg'); /* Remplacez par le chemin de votre image */
}

/*.collectionneur img {
  filter: blur(5px);

}*/


.texte-superpose {
  position: absolute; /* Position absolue pour le texte */
  top: 50%; /* Positionnement vertical au milieu */
  left: 50%; /* Positionnement horizontal au milieu */
  transform: translate(-50%, -50%); /* Pour centrer le texte */
  color: #faf9eb; 
  text-align: center; /* Alignement du texte */
  font-size: 50px;
  font-family: Playfair Display;
  font-weight: lighter;
}

.context {
  display: flex; /* Utilisation de Flexbox */
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrage horizontal */
  text-align: center;
  height: width;
  width: 100%;
}

.context2{
  margin-left: 25%;
  margin-right: 25%;
}

.context3{
  margin-left: 25%;
  margin-right: 25%;
}

.vehicules {
  width: 100%;
  height: 300px;
  text-align: center;
}

/*.propos {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 500px;
  background-color: #8f2731;
  color: white;
}

.Colonne1, .Colonne1-1 {
  width: 50%; 
  height: 100%; 
  overflow: hidden; 
  position: relative; 
}




/*.carousel {
  overflow: hidden;
  width: 100%;
  height: 75%;
  padding: 10px;
  margin: 10px;
}

.image-responsive2 {
  width: 100%; 
  height: auto; 
 }*/

.evenements {
  display: flex; 
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: #0D2123;
  color: white;
}

.Colonne2, .Colonne2-2 {
  width: 33.3%; /* Largeur du cadre */
  height: 100%; /* Hauteur du cadre */
  display: flex; /* Active Flexbox sur chaque colonne */
  flex-direction: column; /* Aligne les éléments de haut en bas */
  justify-content: center; /* Centrage vertical */
  align-items: center; /* Centrage horizontal */
  text-align: center; /* Centrage du texte */
  overflow: hidden; /* Pour cacher toute partie de l'image qui dépasse du cadre */
  position: relative; /* Utile si besoin de superposition */
  padding: 0 70px; /* Ajoute une marge intérieure de 20px à gauche et à droite */
}

.image-responsive {
  width: 100%; /* Pour remplir complètement la largeur du cadre */
  height: 100%; /* Pour conserver les proportions de l'image */
  object-fit: cover; /* Pour adapter l'image et couper ce qui dépasse en hauteur */
}

.contact{
  text-align: center;
  font-family: Aptos;
}

.reseaux-sociaux {
  display: flex;
  align-items: center; /* Aligner verticalement les éléments */
  justify-content: center;
}

.suivre {
  margin: 0;
  padding: 0;
}

.reseaux-sociaux img {
  width: 50px;
  height: 50px;
}




/*PAGE Vehicules*/

/*.catvehicules {
  display: flex; 
  width: 100%;
  height: 500px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
 
}*/



.Colonne3, .Colonne3-2 {
  width: 33.3%; /* Largeur du cadre */
  height: width; /* Hauteur du cadre */
  display: flex; /* Active Flexbox sur chaque colonne */
  flex-direction: column; /* Aligne les éléments de haut en bas */
  justify-content: center; /* Centrage vertical */
  align-items: center; /* Centrage horizontal */
  text-align: center; /* Centrage du texte */
  overflow: hidden; /* Pour cacher toute partie de l'image qui dépasse du cadre */
  position: relative; /* Utile si besoin de superposition */
  background-color: #faf9eb;
}

.Colonne3-1 {
  width: 33.3%; /* Largeur du cadre */
  height: 100%; /* Hauteur du cadre */
  display: flex; /* Active Flexbox sur chaque colonne */
  flex-direction: column; /* Aligne les éléments de haut en bas */
  justify-content: center; /* Centrage vertical */
  align-items: center; /* Centrage horizontal */
  text-align: center; /* Centrage du texte */
  overflow: hidden; /* Pour cacher toute partie de l'image qui dépasse du cadre */
  position: relative; /* Utile si besoin de superposition */
  padding: 0 5%; /* Ajoute une marge intérieure de 20px à gauche et à droite */
}

.bouton4 {
  padding: 10px 20px; /* Remplissage à l'intérieur du bouton */
  font-size: 16px; /* Taille de la police */
  background-color: #5b5447; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none; /* Supprime la bordure */
  border-radius: 5px; /* Arrondi les coins du bouton */
  cursor: pointer; /* Curseur indiquant que le bouton est cliquable */
}

/* Style lorsque le curseur survole le bouton */
.bouton4:hover {
  background-color: black; /* Nouvelle couleur de fond au survol */
}

h5 {
  text-align: center;
  font-family: Playfair Display;
  font-size: 25px;
  color:black;
}

h6{
  text-align: center;
  font-family: Playfair Display;
  font-weight: normal;
  font-size: 20px;
  color: black;
}



.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
  grid-gap: 50px; /* Espacement entre les éléments */
  width: 100%; /* Largeur de la galerie */
  margin: 0 auto; /* Centrage horizontal de la galerie */
   flex-wrap: wrap; /* Pour permettre le wrapping des colonnes */
}

.product {
  display: flex;
  flex-direction: row;
  background-color: #faf9eb;
  padding: 2%;
  height: width;
}

.product img {
  width: 40%; /* Largeur des images */
  height: auto; /* Hauteur des images */
  object-fit: contain; /* Ajustement de l'image à l'intérieur du cadre */
}

.product-description {
  display: flex;
  flex-direction: column; /* Les éléments (texte, bouton) empilés verticalement */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  text-align: center; /* Centre le texte à l'intérieur */
  width: 60%; /* Prendre toute la largeur disponible */
}

.bouton5 {
  padding: 10px 20px; /* Remplissage à l'intérieur du bouton */
  font-size: 16px; /* Taille de la police */
  background-color: #1b5f30; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none; /* Supprime la bordure */
  border-radius: 5px; /* Arrondi les coins du bouton */
  cursor: pointer; /* Curseur indiquant que le bouton est cliquable */
}

/* Style lorsque le curseur survole le bouton */
.bouton5:hover {
  background-color: skyblue; /* Nouvelle couleur de fond au survol */
}





/*PAGE Clients*/



.gallery2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Deux colonnes égales */
  grid-gap: 5%; /* Espacement entre les éléments */
  width: 80%; /* Largeur de la galerie */
  margin: 0 auto; /* Centrage horizontal de la galerie */
   flex-wrap: wrap; /* Pour permettre le wrapping des colonnes */
}

.product2 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les enfants horizontalement */
  background-color: #faf9eb;
  padding-bottom: 10px;
  padding-top: 20px;
  height: 90%;
}

.product2 img {
  width: 50%; /* Largeur des images */
  height: auto; /* Hauteur des images */
  object-fit: cover; /* Ajustement de l'image à l'intérieur du cadre */
}

.product-description2 {
  display: flex;
  flex-direction: column; /* Les éléments (texte, bouton) empilés verticalement */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  text-align: center; /* Centre le texte à l'intérieur */
  
}




/*PAGE Devis*/


.container {
          width: 50%;
          margin: 0 auto;
          background-color: white;
          padding: 20px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          margin-top: 50px;
          border-radius: 8px;

    }
        
.form-group {
    margin-bottom: 15px;
}

.checkbox-group {
    margin-bottom: 15px;
}

.checkbox-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, 
.form-group textarea {
    width: 100%; /* Ajustez cette valeur si vous souhaitez une taille différente */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Assure que le padding soit inclus dans la taille totale de l'élément */
}
.form-group textarea {
    resize: vertical;
}

.submit-btn {
  padding: 10px 20px; /* Remplissage à l'intérieur du bouton */
  font-size: 16px; /* Taille de la police */
  background-color: #1b5f30; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none; /* Supprime la bordure */
  border-radius: 5px; /* Arrondi les coins du bouton */
  cursor: pointer; /* Curseur indiquant que le bouton est cliquable */
}

/* Style lorsque le curseur survole le bouton */
.submit-btn:hover {
  background-color: skyblue; /* Nouvelle couleur de fond au survol */
}
